<!--nada_ben_aissa_ESPRIT-->
<div class="cy_bread_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Détails <br>formation</h1>
      </div>
    </div>
  </div>
</div>
<!--Blog section start-->
<div class="cy_blog_wrapper cy_section_padding  cy_blog_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="cy_blog_box" *ngFor="let dom of listDomain | async">
          <div *ngIf="dom.id == idDom">
            <div class="cy_blog_data">
              <h1>{{dom.title}}</h1>
              <h2>{{dom.type}}</h2>
              <div class="cy_blockquotes">
                <blockquote cite="">
                {{dom.description}}
                  <br>
                  <div><strong>Durée de:&nbsp; {{dom.dateStart}}&nbsp; à &nbsp;{{dom.dateEnd}}</strong></div>
                  <div><strong>Prix:&nbsp;{{dom.price}} dt </strong></div>
                  <hr>
                  <a [routerLink]="['subscribe', idDom]">Vous voulez s'inscrire?</a>
                  <hr>
                  <a  [routerLink]="['test', idDom]">Vous voulez passer un TEST de niveau?</a>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <app-comment></app-comment>
      </div>
      <!--Sidebar Start-->
      <div class="col-lg-4 col-md-12">
        <div class="sidebar cy_sidebar">
          <!--Categories-->
          <div class="widget widget_categories">
            <h3 class="widget-title">Formations</h3>
            <ul>
              <li><a [routerLink]="['/domain','framework']"> Framework</a></li>
              <li><a [routerLink]="['/domain','programmation']"> Programmation</a></li>
            </ul>
          </div>
          <!--Sociallinks-->
          <div class="widget widget_social_links">
            <h3 class="widget-title">SUIVEZ NOUS</h3>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
