<!--nada_ben_aissa_ESPRIT-->
<!--Banner section start-->
<div class="cy_bread_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Formations <br>{{parameter}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="input-group" [class.has-danger]="s.invalid" >
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search" #s="ngModel" pattern="[a-zA-Z0-9\s]+$" (keypress)="recherche(search)">
</div>
<div *ngIf="s.invalid">
  <span class="text-danger" *ngIf="s.errors.pattern">Des lettres et des chiffres</span>
</div>
<div class="cy_blog_wrapper cy_section_padding  cy_blog_page">
  <div class="container">
    <div class="row">
      <app-sous-domain class="col-lg-4 col-md-12" *ngFor="let domain of listDomain " [domainfils]="domain" [searchfils]="search" (notificationParent)="like($event)">
           </app-sous-domain>
    </div>
  </div>
</div>


