<!--nada_ben_aissa_ESPRIT-->
<div class="cy_event_box">
  <div class="cy_event_img">
    <img src="../../assets/Template/images/programmation/{{domainfils.image}}" alt="domain" class="img-fluid" />
    <div class="cy_event_detail">
      <div class="cy_event_time">
        <ul>
          <li><a (click)="sendlike()"><i class="fa fa-heart" aria-hidden="true"></i> {{domainfils.like}}</a></li>
        </ul>
      </div>
      <div class="cy_event_date">
        <span class="ev_date">{{domainfils.dateStart}}</span>
      </div>
    </div>
  </div>
  <div class="cy_event_data">
    <h2><a [routerLink]="['detail',domainfils.id]">{{domainfils.title}}</a></h2>
    <a [routerLink]="['test',domainfils.id]" class="cy_button">Test</a>
  </div>
</div>


