<!--nada_ben_aissa_ESPRIT-->
<div class="cy_event_box">
  <div class="cy_event_img">
    <img src="../../assets/Template/images/Domain/{{domainfils.image}}" alt="domain" class="img-fluid"  [routerLink]="['detail',domainfils.id]"/>
    <div class="cy_event_detail">
      <div class="cy_event_time">
        <ul>
          <li><a (click)="sendlike()"><i class="fa fa-heart" aria-hidden="true"></i> {{domainfils.like}}</a></li>
        </ul>
      </div>
      <div class="cy_event_date">
        <span class="ev_date">{{domainfils.dateStart}}</span>
      </div>
    </div>
  </div>
</div>


