<!--nada_ben_aissa_ESPRIT-->
<!--comments area start-->
<div class="comments-area">
  <div class="comments-area-title">
    <h3 class="comments-title"> Commentaires</h3>
  </div>
  <ol class="commentlist" *ngFor="let comment of listComment">
    <li class="comment">
      <div class="cy_comments">
        <div class="comment_img">
          <img src="../../assets/Template/images/blog/author.png" alt="comment author" />
        </div>
        <div class="comment_data">
          <div class="comment_data_info">
            <h3><a href="#">lena adms</a></h3>
            <a  (click)="deleteComment(comment.id)" class="fa fa-trash"></a > |
            <a (click)="updateComment(comment)" class="fa fa-edit"></a>
          </div>
          <p class="comment_para">
            {{comment.content}}
          </p>
          <div *ngIf="idCom == comment.id"  [hidden]="show" >

            <form [formGroup]="commentupdateForm">
              <div>
                <div class="form-group" [class.has-danger]="contentupdate.invalid" [class.has-success]="contentupdate.valid">
                  <input type="text" class="form-control" formControlName="content" placeholder="{{comment.content}}">
                  <div *ngIf="contentupdate.errors && contentupdate.touched">
                    <span *ngIf="contentupdate.errors.required" class="text-danger">Saisir votre commentaire</span>
                    <span *ngIf="contentupdate.errors.minlength" class="text-danger">Longueur au minimum 4 caractères</span></div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="comment-form-submit">
                    <input name="submit" type="submit" class="btn btn-outline-secondary" value="Modifier" [disabled]="commentupdateForm.invalid"
                           (click)="saveUpdate(comment.id)">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
<!--comments area end-->
<div class="comment-respond">
  <h3 id="reply-title" class="comment-reply-title">Laisez un commentaire</h3>
  <form [formGroup]="commentForm">
    <div>
      <div class="form-group" [class.has-danger]="content.invalid && content.touched" [class.has-success]="content.valid">
        <textarea type="text" class="form-control" formControlName="content" rows="4" placeholder="Laisez un commentaire..."></textarea>
        <div *ngIf="content.errors && content.touched">
          <span *ngIf="content.errors.required" class="text-danger">Saisir votre commentaire</span>
          <span *ngIf="content.errors.minlength" class="text-danger">Longueur au minimum 4 caractères</span></div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="comment-form-submit">
          <input name="submit" type="submit" class="btn btn-outline-secondary" value="Envoyer" [disabled]="commentForm.invalid"
                 (click)="createComment()">
        </div>
      </div>
    </div>
  </form>
</div>
